body {
	font-family: Verdana, Arial, Helvetica, serif;
	font-size: 16px;
}
#wrapper {
	clear: both;
	height: 100%;
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
}
h3 {
	display: none;
}
img {
	border: 0px;
}
footer {
	background-color: #57585A;
	clear:both;
	height: 70px;
	margin-top: 140px;
	position: fixed;
	width: 100%;
}
footer img {
	float: right;
	margin-right: 20px;
	margin-top: 18px;
}
footer ul {
	margin-left: 20px;
}
footer li {
	float: left;
	font-size: 1.0em;
	font-weight: 100;
	list-style: none;
	padding-right: 20px;
	padding-top: 24px;
}
footer li a {
	color: #B2B3B7;
	font-size: 0.9em;
	text-decoration: none;
}
footer li a:hover {
	color: #333;
	text-decoration: none;
}
header {
	height: auto;
	width: 100%;
}
nav {
	height: 100%;
	width: 420px;
}
nav ul {
	font-weight: 100;
	padding-top: 18px;
	margin-left: 175px;
	width: 243px;
}
nav li {
	font-size: 0.8em;
	float: left;
	list-style: none;
	margin-left: 10px;
}
nav li a {
	color: #A2A2A2;
	padding-right: 15px;
	text-decoration: none;
}
nav li a:hover {
	color: #fff;
	padding-right: 15px;
	text-decoration: none;
}
.textoLegal {
	color: #eee;
	font-size: 0.8em;
	text-align: right;
	line-height: 18px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-top: 218px;
}
.textoLegal a {
	color: #fff;
	text-decoration: none;
}
.textoLegal a:hover {
	color: #CCC;
	text-decoration: underline;
}
/* ******************************* ID'S ************************************** */






/* ******************************* CLASES ************************************ */
.caja {
	background-image: url("../img/cont-menu.png");
	height: 50px;
	float: right;
	width: 430px;
}
.caja img {
	vertical-align: middle;
	margin-top: -6px;
}
.contenido {
	color: #eee;
	height: 430px;
	margin: 0 auto;
	margin-bottom: -40px;
	margin-top: 60px;
	vertical-align: top;
	width: 90%;
}
.contenidoPage {
	float: left;
	height: 500px;
	margin: 0 auto;
	margin-bottom: -40px;
	margin-left: 7%;
	overflow: hidden;
	vertical-align: top;
	width: 40%;
}
.contenido h1 {
	color: #fff;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, serif;
	font-weight: 100;
}
.contenido h2 {
	background-color: rgba(0, 0, 0, 0.5);
	color: #eee;
	font-family: Helvetica, Arial, Verdana;
	font-size: 1.1em;
	margin-bottom: -65px;
	margin-top: 60px;
	margin-left: 15px;
	padding: 10px;
	font-weight: 100;
	width: 23%;
}
.contenidoPage h1 {
	color: #fff;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, serif;
	font-weight: 100;
	letter-spacing: 1px;
}
.contenidoPage img {
	height: 172px;
	margin-bottom: 5px;
	margin-right: 10px;
	width: 233px;
}
.contenidoPage p {
	color: #A2A2A2;
	font-family: Verdana, Arial, Helvetica, serif;
	font-size: 0.8em;
	line-height: 22px;
}
.cuadro a {
	color: #ff9000;
	display: block;
	text-decoration: none;
}
.cuadro a:hover {
	color: #333;
	text-decoration: none;
}
.cuadro {
	background-image: url("../img/redo.png");
	color: #fff;
	height: 254px;
	float: right;
	margin-right: 5%;
	margin-top: 80px;
	width: 247px;
}
.cuadro:hover {
	background-image: url("../img/redo-hover.png");
	color: #000;
	height: 254px;
	float: right;
	margin-right: 5%;
	margin-top: 80px;
	width: 247px;
}
.cuadro p {
	height: auto;
	font-size: 0.9em;
	font-weight: 100;
	line-height: 24px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	width: 160px;
}
.face {
	background-image: url("../img/facebook.png");
	height: 30px;
	margin-left: 200px;
	margin-top: -8px;
	width: 30px;
}
.face:hover {
	background-image: url("../img/facebook-hover.png");
	height: 30px;
	width: 30px;
}

.marcoNota {
	height: auto;
	margin: 0 auto;
	margin-top: 150px;
	overflow: auto;	
	width: 100%;
}
.quienesSomos {
	height: auto;
	margin-top: 15px;
	width: 50%;
}
.quienesSomos p {
	color: #eee;
	font-family: Helvetica, Arial, Verdana;
	font-size: 1.0em;
	line-height: 23px;
	padding: 0 10px 10px 12px;
}
.marcoNota h1 {
	font-size: 0.9em;
	font-family: Helvetica, Arial, Verdana;
	font-weight: 100;
	margin-bottom: -5px;
	padding: 10px 0 0 10px;
}
.marcoNota p {
	color: #eee;
	font-family: Helvetica, Verdana, Arial;
	font-size: 0.9em;
	line-height: 22px;
	padding: 10px 0 0 10px;
}
#marcoContorno {
	height: auto;
	margin: 0 auto;
	width: 99%;
}
#contCuad {
	height: auto;
	margin: 0 auto;
	width: 80%;
}
#cuad01, #cuad02 {
	color: #eee;
	font-family: Helvetica, Verdana, Arial;
	font-size: 0.9em;
	height: auto;
	display: inline-block;
	line-height: 24px;
	margin-left: 2.0em;
	margin-right: 3.5em;
	margin-top: 45px;
	padding-bottom: 20px;
	vertical-align: middle;
	width: 41.5%;
}
#novedades {
	color: #eee;
	font-family: Helvetica, Verdana, Arial;
	font-size: 0.9em;
	height: auto;
	line-height: 23px;
	margin-left: 1.5em;
	margin-top: 90px;
	width: 95%;
}
#cuad01 a {
	color: #eee;
	text-decoration: none;
}
#cuad01 a:hover {
	color: #666;
	text-decoration: none;
}
.mapa {
	margin-left: 1.1em;
}
/* ******************************* CLEARFIX ************************************** */
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {
  display:inline-block;
}
.clearfix {
  display:block;
}
* html .clearfix {
  height:1px;
}