body {
	font-family: Verdana, Arial, Helvetica, serif;
	font-size: 16px;
}
#wrapper {
	clear: both;
	height: 100%;
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
}
h3 {
	color: #eee;
	display: inline-block;
	font-size: 0.9em;
	font-weight: 100;
	margin-left: 10px;
}
img {
	border: 0px;
}
footer {
	background-color: #57585A;
	clear:both;
	height: 70px;
	margin-top: 80px;
	width: 100%;
}
footer img {
	float: right;
	margin-right: 20px;
	margin-top: 18px;
}
footer ul {
	margin-left: 20px;
}
footer li {
	float: left;
	font-size: 1.0em;
	font-weight: 100;
	list-style: none;
	padding-right: 20px;
	padding-top: 24px;
}
footer li a {
	color: #B2B3B7;
	font-size: 0.9em;
	text-decoration: none;
}
footer li a:hover {
	color: #333;
	text-decoration: none;
}
header {
	height: auto;
	width: 100%;
}
nav {
	height: 100%;
	width: 420px;
}
nav ul {
	font-weight: 100;
	padding-top: 18px;
	margin-left: 175px;
	width: 55%;
}
nav li {
	font-size: 0.8em;
	float: left;
	list-style: none;
	margin-left: 10px;
}
nav li a {
	color: #A2A2A2;
	padding-right: 15px;
	text-decoration: none;
}
nav li a:hover {
	color: #fff;
	padding-right: 15px;
	text-decoration: none;
}
.textoLegal {
	color: #eee;
	font-size: 0.8em;
	text-align: right;
	line-height: 18px;
	margin-bottom: 0px;
	margin-right: 10px;
	margin-top: 10px;
}
.textoLegal a {
	color: #fff;
	text-decoration: none;
}
.textoLegal a:hover {
	color: #CCC;
	text-decoration: underline;
}
/* ******************************* ID'S ************************************** */






/* ******************************* CLASES ************************************ */
.caja {
	background-image: url("../img/cont-menu.png");
	height: 50px;
	float: right;
	width: 430px;
}
.caja img {
	vertical-align: middle;
	margin-top: -6px;
}
.contenido {
	color: #eee;
	height: 430px;
	margin: 0 auto;
	margin-bottom: -40px;
	margin-top: 60px;
	vertical-align: top;
	width: 90%;
}
.contenidoPage {
	float: left;
	height: 500px;
	margin: 0 auto;
	margin-bottom: -40px;
	margin-left: 7%;
	overflow: hidden;
	vertical-align: top;
	width: 40%;
}
.contenido h1 {
	color: #fff;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, serif;
	font-weight: 100;
}
.contenido h2 {
	background-color: rgba(0, 0, 0, 0.5);
	color: #eee;
	font-family: Helvetica, Arial, Verdana;
	font-size: 1.1em;
	margin-bottom: -65px;
	margin-top: 60px;
	margin-left: 0px;
	padding: 10px;
	font-weight: 100;
	width: 23%;
}
.contenidoPage h1 {
	color: #fff;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, serif;
	font-weight: 100;
	letter-spacing: 1px;
}
.contenidoPage img {
	height: 172px;
	margin-bottom: 5px;
	margin-right: 10px;
	width: 233px;
}
.contenidoPage p {
	color: #A2A2A2;
	font-family: Verdana, Arial, Helvetica, serif;
	font-size: 0.8em;
	line-height: 22px;
}
.cuadro a {
	color: #ff9000;
	display: block;
	text-decoration: none;
}
.cuadro a:hover {
	color: #333;
	text-decoration: none;
}
.cuadro {
	background-image: url("../img/redo.png");
	color: #fff;
	height: 254px;
	float: right;
	margin-right: 5%;
	margin-top: 80px;
	width: 247px;
}
.cuadro:hover {
	background-image: url("../img/redo-hover.png");
	color: #000;
	height: 254px;
	float: right;
	margin-right: 5%;
	margin-top: 80px;
	width: 247px;
}
.cuadro p {
	height: auto;
	font-size: 0.9em;
	font-weight: 100;
	line-height: 24px;
	margin: 0 auto;
	margin-top: 60px;
	text-align: center;
	width: 160px;
}
.face {
	background-image: url("../img/facebook.png");
	height: 30px;
	margin-left: 200px;
	margin-top: -8px;
	width: 30px;
}
.face:hover {
	background-image: url("../img/facebook-hover.png");
	height: 30px;
	width: 30px;
}

.marcoNota {
	height: auto;
	margin: 0 auto;
	margin-top: 150px;
	overflow: auto;	
	width: 100%;
}
.quienesSomos {
	height: auto;
	margin-top: 15px;
	width: 50%;
}
.quienesSomos p {
	color: #eee;
	font-family: Helvetica, Arial, Verdana;
	font-size: 1.0em;
	line-height: 23px;
	padding: 0 10px 10px 12px;
}
.marcoNota h1 {
	font-size: 0.9em;
	font-family: Helvetica, Arial, Verdana;
	font-weight: 100;
	margin-bottom: -5px;
	padding: 10px 0 0 10px;
}
.marcoNota p {
	color: #eee;
	font-family: Helvetica, Verdana, Arial;
	font-size: 0.9em;
	line-height: 22px;
	padding: 10px 0 0 10px;
}
.separador {
	background-color: #222;
	height: 1px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 10px;
	width: 95%;
}
.separador:last-child {
	display: none;
}
#marcoContorno {
	height: 370px;
	margin-top: 80px;
	overflow: auto;
	width: 	100%;
}
#marcoContorno h1 {
	margin-left: 15px;
}
#marcoContorno img {
	padding: 5px;
	margin: 5px 20px 50px 8px;
}
#comboNav {
	display: none;
}
#contCuad {
	height: auto;
	margin: 0 auto;
	width: 80%;
}
#cuad01, #cuad02 {
	color: #eee;
	font-family: Helvetica, Verdana, Arial;
	font-size: 0.9em;
	height: auto;
	display: inline-block;
	line-height: 24px;
	margin-left: 2.0em;
	margin-right: 3.5em;
	margin-top: 45px;
	padding-bottom: 20px;
	vertical-align: middle;
	width: 41.5%;
}
#novedades {
	color: #eee;
	font-family: Helvetica, Verdana, Arial;
	font-size: 0.9em;
	height: auto;
	line-height: 23px;
	margin-left: 1.5em;
	margin-top: 90px;
	width: 95%;
}
#cuad01 a {
	color: #eee;
	text-decoration: none;
}
#cuad01 a:hover {
	color: #666;
	text-decoration: none;
}
.mapa {
	margin-left: 1.1em;
}
.cuadroMovil {
	display: none;
}
#cuatroVeinte {
	display: none;
}
#contenidoNoticias p {
	color: #eee;
	font-size: 0.9em;
	line-height: 21px;
	margin-left: 15px;
	margin-top: 20px;
}
.itemhead {
	display: none;
}
/* ******************************* CLEARFIX ************************************** */
.clearfix:after {
  content:".";
  display:block;
  height:0;
  clear:both;
  visibility:hidden;
}
.clearfix {
  display:inline-block;
}
.clearfix {
  display:block;
}
* html .clearfix {
  height:1px;
}


#maps {
	height: auto;
	margin: 0 auto;
	margin-left: 15px;
	width: 95%;
}
#infoInstitucional {
	color: #ccc;
	width: 70%;
	margin-left: 15px;
	line-height: 25px;
	height: auto;
}
#infoInstitucional span {
	color: #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	margin-top: 10px;
	font-weight: 100;
}
#infoInstitucional p {
	font-size: 1.0em;
	font-family: Verdana, Arial, Helvetica;
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 10px;
}
#infoInstitucional a {
	color: #ccc;
	text-decoration: none;
}
#infoInstitucional a:hover {
	color: #fff;
}
.tituloMapas {
	font-family: Verdana, Arial, Helvetica;
	font-size: 1.0em;
	font-weight: 100;
	margin-bottom: 10px;
	margin-left: 15px;margin-top: 20px;
}
#contenidoSocial {
	height: auto;
	margin-left: 15px;
	width: 90%;
}
.btnSocial {
	display: inline-block;
	padding: 10px;
	vertical-align: center;
	width: 200px;
	height: 23px;
	margin: 10px 10px 10px 0;
	text-align: center;
	background-color: green;
}
#face {
	background-color: #3b5b8c;
}
#face:hover {
	background-color: #4468a0;
}
#mapa {
	background-color: #fa6d03;
}
#mapa:hover {
	background-color: #dd6205;
}
#contenidoSocial a {
	color: #fff;
}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 420px) {
 
		.cuadro {
			display: none;
		}
		.textoLegal {
			text-align: center;
		}
		footer {
  			background-color:#57585A;
  			clear:both;
  			height:70px;
  			margin-top: -160px;
  			width:100%;
		}
		footer img {
			display: block;
			height: auto;
			text-align: center;
			margin-left: -30px;
		}
		footer ul {
			display: none;
		}
		select {
			width: 100%;
		}
		.cuadroMovil {
			color: #333;
			display: inline-block;
			background-color: rgba(255,255,255,0.70);
			height: auto;
			margin-top: -10px;
			width: 100%;
		}
		.cuadroMovil ul li {
			border-bottom: solid 1px #333;
			font-family: Helvetica, Verdana, Arial;
			font-size: 1.0em;
			text-align: center;
			list-style: none;
			padding: 20px;
		}
		.cuadroMovil ul li a {
			color: #000;
			font-weight: bold;
			text-decoration: none;
		}
		footer img {	
			margin-right: 32%;
		}
		.marcoNota {
			height: auto;
			margin: 0 auto;
			margin-top: 70px;
			width: 100%;
		}
		.marcoNota img {
			height: auto;
			margin: 0px;
			padding: 0px;
			margin-bottom: 10px;
			margin-left: -6px;
			width: 100%;
		}
		.contenido {
			height: auto;
			margin-bottom: 200px;
			margin-top: 60px;
			vertical-align: top;
			width: 100%;
		}
		.cuadro {
			background-image: url("../img/redo.png");
			color: #fff;
			height: auto;
			float: right;
			margin-right: 5%;
			margin-top: 80px;
			width: 247px;
		}
		#cuad01 {
			color: #fff;
			height: auto;
			margin-top: -20px;
			width: 95%;
		}
		#cuad01 p {
			padding: 10px;
			margin-right: 20px;
			width: 100%;
		}
		#contCuad {
			width: 100%;
			margin-left: -20px;
		}
		.mapa {
			width: 250px;
			margin: 0 auto;
			height: 250px;
		}
		.contenido h2 {
			background-color: rgba(0, 0, 0, 0.5);
			color: #eee;
			font-family: Helvetica, Arial, Verdana;
			font-size: 1.1em;
			margin-bottom: -65px;
			margin-top: 60px;
			margin-left: 5px;
			padding: 10px;
			font-weight: 100;
			width: 92%;
		}


}
